.menu-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.menu-image:hover {
  transform: scale(1.05);
}
/* Blog Card Image */
.blog-card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
